@import '../../assets/styles/colors.scss';

.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  height: inherit;
  color: $dark-font-color;
}

@media (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .header__logo {
    font-size: 26px;
  }
}

.header__list {
  display: flex;
  list-style: none;
  width: 40vw;
}

.header__list-item {
  margin: 0 5px;
}

.header__link {
  text-decoration: none;
  color: $font-color;
}
