html {
   overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  margin: 5px;
  width: auto;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #8ACDEA;
  color: $font-color;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.main {
  padding-top: 130px;
  min-height: calc(100vh - (130px + 80px));
}
