$dark-color: #101315;
$light-color: #eeeeee;
$gradient-color: linear-gradient(10deg, #ffaa00, #ff6a00);
$gradient2-color: linear-gradient(15deg, #04ea00, #00d17d);
$gradient3-color: linear-gradient(15deg, #b648ff, #ef5dff);
