$dark-color: #101315;
$light-color: #eeeeee;
$gradient-color: linear-gradient(10deg, #ffaa00, #ff6a00);
$gradient2-color: linear-gradient(15deg, #04ea00, #00d17d);
$gradient3-color: linear-gradient(15deg, #b648ff, #ef5dff);

$header-color: #746D75;
$button-color: #8ACDEA;
$font-color: #8C4843;
$bg-color: #EDE6F2;
$button-hover-color: #9E643C;
$dark-font-color: #37212b;
