.board {
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 210px);
  .board-header {
    background-color: #222;
    padding: 0px 15px;
    margin: 10px auto;
    box-shadow: 0 0 8px 2px #444;
    color: #f5f5f5;
    width: 80%;
    transform: skew(-16deg, 0deg);

    .board-header__title {
      margin: 0;
      color: $title-color;
      font-size: 2rem;
      text-transform: capitalize;

      .board-header__owner {
        align-items: center;
        color: $white-color;
        margin-left: 15px;
        font-size: 1rem;
        font-style: italic;
      }
    }

    .board-header__description {
      margin: 5px auto;
      color: $dark-font-color;
    }
  }
}
